.jumbotron
  %h1.display-4 Welcom to FiT!
  %p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
  %hr.my-4
  = link_to 'Register as a Doctor', new_doctor_registration_path, class: 'btn btn-success'
  / %a{:class => "btn btn-secondary btn-lg btn-block", :role => "button", path: new_patient_registration_path } Register as a Patient!

  = link_to 'Register as a Patient', new_patient_registration_path, class: 'btn btn-primary'