.jumbotron
  %h1.display-4 Welcome!
  %p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
  %hr.my-4
  = link_to 'Register', new_user_registration_path, class: "btn btn-primary btn-lg btn-block"
